fastapi==0.115.6
uvicorn[standard]==0.34.0
pymongo==4.10.1
pydantic[email]==2.10.5
python-dotenv==1.0.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.20
httpx==0.28.1
razorpay==1.4.2